@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Ubuntu:wght@400;700&display=swap");

:root {
  --font-family-lato: Lato;
  --font-family-Ubuntu: Ubuntu;

  --container-width: 1310px; /*1280px контейнер + 15px * 2 paddings*/
  --container-padding: 15px;

  --font-size: 20px;
  --line-height-lato: 1.2;
  --line-height-ubuntu: 1.15;

  --color-main: #161453;
  --color-secondary: #000000;
  --color-white-100: #ffffff;
  --color-white-50: #ffffff80;
  --color-violet-100: #6f5cfc;
  --color-violet-50: #6f5cfc80;
}

body {
  font-family: var(--font-family-lato);
  font-size: var(--font-size);
  background-color: var(--color-main);
}

.container {
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}

.orange {
  background-color: orange;
}

.colored-bold-text {
  font-weight: 700;
  color: var(--color-violet-100);
}

.btn {
  padding: 15px 36px;
  border: 1px solid var(--color-violet-100);
  border-radius: 10px;
  font-size: calc(var(--font-size) * 0.85);
  line-height: calc(var(--font-size) * 0.85 * var(--line-height-lato));
  background-color: transparent;
  color: var(--color-white-100);
}
.btn:hover {
  position: relative;
  top: 5px;
  padding: 15px 36px;
  /* background-color: var(--color-violet-100); */
  box-shadow: 0px 5.31px 2.66px 0px rgba(0, 0, 0, 0.0445), 0px 11.29px 6.38px 0px rgba(0, 0, 0, 0.0639),
    0px 18.53px 12.02px 0px rgba(0, 0, 0, 0.076), 0px 28.27px 21.44px 0px rgba(0, 0, 0, 0.0902),
    0px 43.89px 40.11px 0px rgba(0, 0, 0, 0.01175), 0px 77px 96px 0px rgba(0, 0, 0, 0.019);
}
.btn--color {
  background-color: var(--color-violet-100);
}
.btn--color:hover {
  box-shadow: 0px 5.31px 2.66px 0px rgba(0, 0, 0, 0.0445), 0px 11.29px 6.38px 0px rgba(0, 0, 0, 0.0639),
    0px 18.53px 12.02px 0px rgba(0, 0, 0, 0.076), 0px 28.27px 21.44px 0px rgba(0, 0, 0, 0.0902),
    0px 43.89px 40.11px 0px rgba(0, 0, 0, 0.01175), 0px 77px 96px 0px rgba(0, 0, 0, 0.019);
}

/* ==================== Header ==================== */
.header {
  position: relative;
  min-height: 900px;
  /* height: 100%; */
}
.header__top {
  padding: 31px 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 38px;
  line-height: 38px;
}
.nav__logo {
  width: auto;
  flex: 1 0 auto;
}
.nav__logo a {
  font-family: var(--font-family-Ubuntu);
  font-size: calc(var(--font-size) * 1.1);
  line-height: calc(var(--font-size) * 1.1 * var(--line-height-ubuntu));
  color: var(--color-white-100);
}
.nav__list {
  display: flex;
  column-gap: 15px;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  font-size: calc(var(--font-size) * 0.85);
  line-height: calc(var(--font-size) * 0.85 * var(--line-height-lato));
}
.nav__list a {
  color: var(--color-white-100);
}
.nav__list a:hover {
  color: var(--color-violet-100);
}
.active {
}

/* ----- header content----- */
.header__row {
  position: relative;
  display: flex;
  column-gap: 66px;
  align-items: center;
}
.header__row::after {
  content: "";
  position: absolute;
  z-index: -20;
  bottom: 0;
  right: calc(-248px - 80px);
  width: 810px;
  height: 817px;
  background-image: url(./../img/header/Vector.svg);
  background-size: contain;
  background-repeat: no-repeat;
  animation: img2 60s linear infinite;
}
@keyframes img2 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.header__content {
  position: relative;
  z-index: 10;
  padding: 213px 0 360px;
  width: 630px;
  min-height: 800px;
}
.header__badge {
  margin-bottom: 25px;
  font-weight: 500;
  color: var(--color-white-50);
}
.header__title {
  margin-bottom: 40px;
  text-align: right;
  font-weight: 700;
  font-family: var(--font-family-Ubuntu);
  font-size: calc(var(--font-size) * 1.9);
  line-height: calc(var(--font-size) * 1.9 * var(--line-height-ubuntu));
  color: var(--color-white-100);
}
.header__buttons {
  display: flex;
  column-gap: 20px;
  justify-content: flex-end;
}
.header__img {
  pointer-events: none;
  position: relative;
  z-index: 2;
  /* animation: img 30s linear infinite; */
  animation-name: img;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  /* filter: blur(10px); */
}
@keyframes img {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .header__img:hover {
  cursor: pointer;
  animation-name: img2;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes img2 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
} */

.header__blur,
.header__stars {
  position: absolute;
  bottom: 0;
  top: 100px;
  left: 0px;
  width: calc((100% - var(--container-width)) / 2 + 940px);
  min-height: 800px;
}
.header__blur {
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 28px 61px 0px rgba(0, 0, 0, 0.1), 0px 110px 110px 0px rgba(0, 0, 0, 0.09),
    0px 248px 149px 0px rgba(0, 0, 0, 0.05), 1px 441px 176px 0px rgba(0, 0, 0, 0.01), 1px 689px 193px 0px rgba(0, 0, 0, 0);
  backdrop-filter: blur(3px);
}

.header__stars {
  height: 800px;
}
.header__stars::after,
.header__stars::before {
  content: "";
  position: absolute;
  z-index: 1;

  /* filter: blur(1px); */
}
.header__stars::after {
  bottom: 128px;
  right: -55px;
  width: 361px;
  height: 354px;
  background-image: url(./../img/header/Star-1.png);
  background-size: contain;
  background-repeat: no-repeat;
  animation: star1 10s linear infinite;
}
@keyframes star1 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-700px, -240px);
  }
}
.header__stars::before {
  bottom: 376px;
  left: calc(100% - 920px - 80px);
  width: 329px;
  height: 323px;
  background-image: url(./../img/header/Star-2.png);
  background-size: contain;
  background-repeat: no-repeat;
  animation: star2 10s linear infinite;
}
@keyframes star2 {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(700px, 240px);
  }
}

/* ----- btn-toggle (begin)----- */
.nav__btn-toggle {
  display: none;
  background: none;
}
.menu-icon-wrapper {
  --time: 0.2s;
  --top: 9px;
  --width: 40px;
  --line-height: 4px;
  --border-radius: calc(var(--line-height) / 2);
  --color: var(--color-white-100);
  --color-active: var(--color-white-100);

  width: var(--width);
  height: calc(var(--top) * 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu-icon {
  position: relative;
  width: 100%;
  height: var(--line-height);
  border-radius: var(--border-radius);
  background-color: var(--color);
}
.menu-icon:before,
.menu-icon:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--line-height);
  border-radius: var(--border-radius);
  background-color: var(--color);
}
.menu-icon:before {
  top: calc(-1 * var(--top));
  transition: transform var(--time) linear, top var(--time) ease-in var(--time);
}
.menu-icon:after {
  top: calc(1 * var(--top));
  transition: transform var(--time) linear, top var(--time) ease-in var(--time);
}

.js-menu-icon-active {
  background-color: transparent;
}
.js-menu-icon-active:before {
  top: 0px;
  background-color: var(--color-active);
  transform: rotate(45deg);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}
.js-menu-icon-active:after {
  top: 0px;
  background-color: var(--color-active);
  transform: rotate(-45deg);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}
/* ----- btn-toggle (end)----- */

/* ==================== Who-is-Kate ==================== */
.who-is-Kate {
  padding: 107px 0;
  background-color: #eef1f4;
}
.who-is-Kate__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 20px;
  padding: 0 110px;
}
.who-is-Kate__img {
}
.who-is-Kate__img img {
  max-width: 100%;
  border-radius: 10px;
}
.who-is-Kate__content {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  max-width: 412px;
  color: var(--color-main);
}
.who-is-Kate__title {
  /* margin-bottom: 60px; */
  margin-bottom: 50px;
  font-weight: 700;
  font-size: calc(var(--font-size) * 1.9);
  line-height: calc(var(--font-size) * 1.9 * var(--line-height-lato));
}
.who-is-Kate__subtitle {
  font-weight: 500;
  margin-bottom: calc(var(--font-size) * 1 * var(--line-height-lato));
}
.who-is-Kate__text {
  margin-bottom: 40px;
  font-weight: 500;
  line-height: calc(var(--font-size) * 1 * var(--line-height-lato));
}
.who-is-Kate__button {
}
