@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Ubuntu:wght@400;700&display=swap");

:root {
  --font-family-lato: Lato;
  --font-family-Ubuntu: Ubuntu;

  --container-width: 1310px; /*1280px контейнер + 15px * 2 paddings*/
  --container-padding: 15px;

  --font-size: 20px;
  --line-height-lato: 1.2;
  --line-height-ubuntu: 1.15;

  --color-main: #161453;
  --color-secondary: #000000;
  --color-white-100: #ffffff;
  --color-white-50: #ffffff80;
  --color-violet-100: #6f5cfc;
  --color-violet-50: #6f5cfc80;
}

body {
  font-family: var(--font-family-lato);
  font-size: var(--font-size);
  line-height: calc(var(--font-size) * var(--line-height-lato));
  font-weight: 400;
  color: var(--color-main);
  background-color: var(--color-main);
}

.container {
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}
.container_smaller {
  max-width: calc(var(--container-width) - 108px * 2);
}
.container_smallest {
  max-width: calc(var(--container-width) - 217px * 2);
}

.orange {
  background-color: orange;
}

.title {
  margin-bottom: 60px;
  text-align: center;
  font-weight: 700;
  font-size: calc(var(--font-size) * 1.9);
  line-height: calc(var(--font-size) * 1.9 * var(--line-height-lato));
}

.colored-bold-text {
  font-weight: 800;
  color: var(--color-violet-100);
}

.btn {
  padding: 14px 36px;
  border: 1px solid var(--color-violet-100);
  border-radius: 10px;
  font-weight: 400;
  font-size: calc(var(--font-size) * 0.85);
  line-height: calc(var(--font-size) * 0.85 * var(--line-height-lato));
  background-color: transparent;
  color: var(--color-white-100);
  /* transition: 0.3s; */
}
.btn:hover {
  position: relative;
  top: 5px;
  /* border: 1px solid var(--color-violet-50);
  background-color: var(--color-violet-50); */
  box-shadow: 0px 5.31px 2.66px 0px rgba(0, 0, 0, 0.0445), 0px 11.29px 6.38px 0px rgba(0, 0, 0, 0.0639),
    0px 18.53px 12.02px 0px rgba(0, 0, 0, 0.076), 0px 28.27px 21.44px 0px rgba(0, 0, 0, 0.0902),
    0px 43.89px 40.11px 0px rgba(0, 0, 0, 0.01175), 0px 77px 96px 0px rgba(0, 0, 0, 0.019);
}
.btn--color {
  background-color: var(--color-violet-100);
}

/* Кнопка вверх */
.nav-btn {
  position: fixed;
  bottom: 60px;
  right: 60px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--color-violet-100);
  text-align: center;
  transform: translate(50%, 50%);
  opacity: 0.5;
}
.nav-btn a {
  display: inline-block;
  height: 100%;
  width: 100%;
  font-size: calc(var(--font-size) * 0.85);
  line-height: 50px;
  color: var(--color-white-100);
}
.nav-btn a:hover {
  line-height: 60px;
  font-weight: 700;
  font-size: calc(var(--font-size) * 1);
}
.nav-btn:hover {
  opacity: 1;
  height: 60px;
  width: 60px;
  /* box-shadow: 0px 0px 1.33px 0px rgba(0, 0, 0, 0.1), 0px 0px 3.19px 0px rgba(0, 0, 0, 0.12),
    0px 0px 6.01px 0px rgba(0, 0, 0, 0.15), 0px 0px 10.22px 0px rgba(0, 0, 0, 0.2), 0px 0px 20.05px 0px rgba(0, 0, 0, 0.22),
    0px 0px 48px 0px rgba(0, 0, 0, 0.4); */
}

/* ==================== Header ==================== */
.header {
  position: relative;
  /* min-height: 900px; */
  min-height: 100%;
  overflow: hidden;
  /* height: 100%; */
}
.header__top {
  padding: 31px 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 38px;
}
.nav__logo {
  width: auto;
  flex: 1 0 auto;
}
.nav__logo img {
  width: 38px;
  height: 38px;
  object-fit: contain;
}
.nav__logo a {
  font-family: var(--font-family-Ubuntu);
  font-size: calc(var(--font-size) * 1.1);
  line-height: 38px; /*38px чтобы текст выровнялся по центру строки (38px - высота nav)*/
  font-weight: 400;
  color: var(--color-white-100);
}
.nav__logo:hover {
  cursor: pointer;
}

.nav__list {
  display: flex;
  column-gap: 15px;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  font-size: calc(var(--font-size) * 0.85);
  line-height: calc(var(--font-size) * 0.85 * var(--line-height-lato));
}
.nav__list a {
  color: var(--color-white-100);
}
.nav__list a:hover {
  color: var(--color-violet-100);
}

/* ----- header content----- */
.header__row {
  position: relative;
  display: flex;
  column-gap: 66px;
  align-items: center;
}
.header__row::after {
  content: "";
  position: absolute;
  z-index: -20;
  bottom: 0;
  right: calc(-248px - 80px);
  width: 810px;
  height: 817px;
  background-image: url(./../img/header/Vector.svg);
  background-size: contain;
  background-repeat: no-repeat;
  animation: img2 30s linear infinite alternate;
}
@keyframes img2 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.header__content {
  position: relative;
  z-index: 10;
  padding: 213px 0 360px;
  width: 630px;
  min-height: 800px;
}
.header__badge {
  margin-bottom: 25px;
  font-weight: 500;
  color: var(--color-white-50);
}
.header__title {
  margin-bottom: 40px;
  text-align: right;
  font-weight: 700;
  font-family: var(--font-family-Ubuntu);
  font-size: calc(var(--font-size) * 1.9);
  line-height: calc(var(--font-size) * 1.9 * var(--line-height-ubuntu));
  color: var(--color-white-100);
}
.header__buttons {
  display: flex;
  column-gap: 20px;
  justify-content: flex-end;
}
.header__btn-1 {
  padding: 14px 55px;
}
.header__btn-2 {
}

.header__img {
  pointer-events: none;
  position: relative;
  z-index: 2;
  /* animation: img 30s linear infinite; */
  animation-name: img;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  /* filter: blur(10px); */
}
.header__img img {
  width: 524px;
  height: 536px;
  object-fit: contain;
}
@keyframes img {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header__blur,
.header__stars {
  position: absolute;
  bottom: 0;
  top: 100px;
  left: 0px;
  width: calc((100% - var(--container-width)) / 2 + 940px);
  min-height: 800px;
}
.header__blur {
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 28px 61px 0px rgba(0, 0, 0, 0.1), 0px 110px 110px 0px rgba(0, 0, 0, 0.09),
    0px 248px 149px 0px rgba(0, 0, 0, 0.05), 1px 441px 176px 0px rgba(0, 0, 0, 0.01), 1px 689px 193px 0px rgba(0, 0, 0, 0);
  backdrop-filter: blur(3px);
}

.header__stars {
  height: 800px;
  filter: blur(40px);
}
.header__stars::after,
.header__stars::before {
  content: "";
  position: absolute;
  z-index: 1;

  /* filter: blur(1px); */
}
.header__stars::after {
  bottom: 128px;
  right: -55px;
  width: 361px;
  height: 354px;
  background-image: url(./../img/header/Star-1.png);
  background-size: contain;
  background-repeat: no-repeat;
  /* animation: star1 15s linear infinite alternate; */
}
@keyframes star1 {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-700px);
  }
}
.header__stars::before {
  bottom: 376px;
  left: calc(100% - 920px - 80px);
  width: 329px;
  height: 323px;
  background-image: url(./../img/header/Star-2.png);
  background-size: contain;
  background-repeat: no-repeat;
  /* animation: star2 15s linear infinite alternate; */
}
@keyframes star2 {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(700px);
  }
}

/* ----- btn-toggle (begin)----- */
.nav__btn-toggle {
  display: none;
  background: none;
}
.menu-icon-wrapper {
  --time: 0.2s;
  --top: 9px;
  --width: 40px;
  --line-height: 2px;
  --border-radius: calc(var(--line-height) / 2);
  --color: var(--color-white-100);
  --color-active: var(--color-white-100);

  width: var(--width);
  height: calc(var(--top) * 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu-icon {
  position: relative;
  width: 100%;
  height: var(--line-height);
  border-radius: var(--border-radius);
  background-color: var(--color);
}
.menu-icon:before,
.menu-icon:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--line-height);
  border-radius: var(--border-radius);
  background-color: var(--color);
}
.menu-icon:before {
  top: calc(-1 * var(--top));
  transition: transform var(--time) linear, top var(--time) ease-in var(--time);
}
.menu-icon:after {
  top: calc(1 * var(--top));
  transition: transform var(--time) linear, top var(--time) ease-in var(--time);
}

.js-menu-icon-active {
  background-color: transparent;
}
.js-menu-icon-active:before {
  top: 0px;
  background-color: var(--color-active);
  transform: rotate(45deg);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}
.js-menu-icon-active:after {
  top: 0px;
  background-color: var(--color-active);
  transform: rotate(-45deg);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}
/* ----- btn-toggle (end)----- */

.no-scroll {
  overflow-y: hidden;
}

/* ==================== Who-is-Kate ==================== */
.who-is-Kate {
  padding: 100px 0;
  background-color: #eef1f4;
}
.who-is-Kate__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 20px;
  min-height: 550px; /*ВОЗМОЖНО НУЖНО БУДЕТ УДАЛИТЬ*/
}
.who-is-Kate__img {
}
.who-is-Kate__img img {
  height: 550px; /*СДЕЛАЛ НЕМНОГО ВЫШЕ ЧЕМ в проекте (на 8px)*/
  width: contain;
  border-radius: 10px;
}
.who-is-Kate__content {
  max-width: 412px;
}
.who-is-Kate__title {
  text-align: left;
}
.who-is-Kate__subtitle {
  font-weight: 500;
  margin-bottom: calc(var(--font-size) * 1 * var(--line-height-lato));
}
.who-is-Kate__text {
  margin-bottom: 40px;
  font-weight: 500;
  line-height: calc(var(--font-size) * 1 * var(--line-height-lato));
}
.who-is-Kate__button {
}
.who-is-Kate__btn {
}

/* ==================== Expertise ==================== */
.expertise {
  padding: 100px 0 64px;
}
.expertise__contant {
  position: relative;
  color: var(--color-white-100);
}
.expertise__title {
}
.expertise__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}
.expertise__list {
  width: 540px;
  font-size: calc(var(--font-size) * 1.25);
  line-height: calc(var(--font-size) * 1.25 * var(--line-height-lato));
}
.expertise__list-item {
}
.expertise__button {
  position: absolute;
  bottom: -64px;
  left: 50%;
  transform: translate(-50%, 50%);
}
.expertise__btn {
  padding: 15px 32px;
}

/* ==================== Advantages ==================== */

.advantages {
  padding: 126px 0 100px;
  background-color: #ccdef5;
}
.advantages__content {
}
.advantages__title {
}
.advantages__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 40px;
  padding: 0 20px; /*для вертикальных отступов в 20px*/
}
.advantages__card {
  flex: 0 0 33.333%;
  margin: 0 -20px; /*для вертикальных отступов в 20px*/
  padding: 41px 34px 34px 34px;
  min-height: 350px;
  border-radius: 5px;
  background-color: #eef1f4;
}
/* .advantages__card:hover {
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
} */
.advantages__card-image {
  margin-bottom: 36px;
  pointer-events: none;
}
.advantages__card-image img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}
.advantages__card-title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: calc(var(--font-size) * 1.25);
  line-height: calc(var(--font-size) * 1.25 * var(--line-height-lato));
  color: var(--color-violet-100);
}
.advantages__card-text {
  height: auto;
  font-weight: 500;
}

/* ==================== Cost specialist ==================== */

.candidates {
  padding: 100px 0;
  /* height: 1150px; */
  height: auto;
}

.candidates__content {
  color: var(--color-secondary);
}

.candidates__title {
  color: var(--color-white-100);
}

.candidates__row {
  display: flex;
  justify-content: space-between;
  align-items: start;
  column-gap: 30px;
}

.candidates__filter {
  width: 415px;
  border-radius: 5px;
  background-color: #eef1f4;
}

.candidates__filter-locations {
  max-height: 570px;
}

.candidates__filter-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 44px;
  font-weight: 700;
  font-size: calc(var(--font-size) * 1.25);
  line-height: calc(var(--font-size) * 1.25 * var(--line-height-lato));
  border-radius: 5px;
  background-color: #ccdef5;
}
.candidates__filter-title span {
  position: relative;
  display: block;
  width: 25px;
  height: 30px;
  /* background-color: yellow; */
}
.candidates__filter-title span:hover {
  cursor: pointer;
}
.candidates__filter-title span::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 100%;
  height: 4px;
  transform: translateY(-50%);
  background-color: black;
}
.candidates__filter-title span::after {
  content: "";
  position: absolute;
  top: 50%;
  right: center;
  width: 100%;
  height: 4px;
  transform: translateY(-50%) rotate(90deg);
  background-color: black;
}
.candidates__filter-title.active span {
  width: 30px;
  right: -2.5px;
}
.candidates__filter-title.active span::after {
  content: "";
  width: 0px;
  height: 0px;
}

.candidates__settings {
  display: inline-block;
  width: 100%;
  height: 510px;
  overflow-y: scroll;
  padding: 15px 44px;
  background-color: #eef1f4;
}
.candidates__settings > * {
  padding: 12px 15px;
}
.candidates__settings input {
  margin-right: 30px;
  width: 18px;
  height: 18px;
}
.candidates__filter-directions {
  max-height: 570px;
}
.candidates__filter-tech-levels {
  max-height: 570px;
}
.candidates__filter-work-type {
  max-height: 570px;
}
.candidates__container {
  width: 740px;
}
.candidates__container-search {
  margin-bottom: 20px;
}
.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  width: 100%;
  height: 60px;
  padding: 18px 30px;
  border-radius: 5px;
  background-color: #eef1f4;
}
.search-container img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.search-container input {
  flex: 1 1 auto;
  height: 100%;
  width: 100%;
  font-size: calc(var(--font-size) * 1);
  line-height: calc(var(--font-size) * 1 * var(--line-height-lato));
  background-color: transparent;
}
.search-container__output {
  font-weight: 500;
  flex: 1 0 auto;
  min-width: auto;
}
.candidates__container-result {
  margin-bottom: 30px;
}
.result-candidates {
}
.result-candidates__row {
  display: flex;
  align-items: center;
  align-items: center;
  column-gap: 20px;
  row-gap: 10px;
  flex-wrap: wrap;
}
.result-candidates__box {
}
.box-result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  padding: 5px;
  border-radius: 5px;
  font-weight: 400;
  background-color: #ccdef5;
}
.box-result__name {
}
.box-result__btn {
  font-size: calc(var(--font-size) * 0.7);
  line-height: 100%;
  background-color: #ccdef5;
}

.candidates__cards {
  margin-bottom: 65px;
}

.candidates__card {
  padding: 29px;
  background-color: #eef1f4;
}
.candidates__card:not(:last-child) {
  margin-bottom: 40px;
}
.candidates__card-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}
.candidates__card-direction {
  margin-bottom: 15px;
  color: var(--color-violet-50);
}
.candidates__card-work-type {
  width: 100px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  background-color: #ccdef5;
}
.candidates__card-title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: calc(var(--font-size) * 1.25);
  line-height: calc(var(--font-size) * 1.25 * var(--line-height-lato));
}
.candidates__card-location {
  position: relative;
  padding-left: 30px;
  color: var(--color-violet-50);
}
.candidates__card-location:before {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 16px;
  height: 20px;
  background-image: url(./../img/candidats/label.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.candidates__buttons {
  display: flex;
  column-gap: 80px;
}
.candidates__btn-1 {
  padding: 14px 21px;
}
.candidates__btn-2 {
  padding: 14px 63px;
}
/* ==================== Application-form ==================== */
.application-form {
  padding: 100px 0;
  background-color: #eef1f4;
}

.application-form__form-container {
  margin: 0 auto;
}

.form-container__title {
}

.form-container__form-aplication {
  padding: 50px 108px;
  text-align: center;
  border-radius: 5px;
  background-color: #ccdef5;
  box-shadow: 0px 2.77px 8.22px 0px rgba(22, 20, 83, 4.22%), 0px 6.65px 19.75px 0px rgba(22, 20, 83, 6.06%),
    0px 12.52px 37.19px 0px rgba(22, 20, 83, 7.5%), 0px 22.34px 66.34px 0px rgba(22, 20, 83, 8.94%),
    0px 41.78px 124.08px 0px rgba(22, 20, 83, 10.78%), 0px 100px 297px 0px rgba(22, 20, 83, 15%);
}

.form-aplication__group {
  position: relative;
  margin-bottom: 21px;
  width: 100%;
  text-align: left;
}

.form-aplication__input {
  width: 100%;
  padding: 10px 0 10px 0;
  border: none;
  border-bottom: 1px solid var(--color-main);
  font-size: calc(var(--font-size) * 0.85);
  line-height: calc(var(--font-size) * 0.85 * var(--line-height-lato));
  background-color: transparent;
  outline: none;
  transition: 0.3s;
}
.form-aplication__input:focus {
  border-bottom: 1px solid var(--color-main);
  box-shadow: 0px 2px 0px 0px rgba(22, 20, 83, 0.5);
}
.form-aplication__input:focus ~ .form-aplication__label,
.form-aplication__input:not(:placeholder-shown) ~ .form-aplication__label {
  bottom: 30px;
  color: var(--color-violet-50);
  font-size: calc(var(--font-size) * 0.7);
  line-height: calc(var(--font-size) * 0.7 * var(--line-height-lato));
}

.form-aplication__label {
  position: absolute;
  bottom: 10px;
  left: 0;
  font-size: calc(var(--font-size) * 0.85);
  line-height: calc(var(--font-size) * 0.85 * var(--line-height-lato));
  color: var(--color-violet-50);
  pointer-events: none;
  transition: 0.3s;
}

.form-aplication__btn {
  margin-top: 19px;
  padding: 16px 46px;
}

/* ==================== Rewies ==================== */
.rewies {
  padding: 100px 0;
}

.rewies__title {
  color: var(--color-white-100);
}

.rewies__row {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 40px;
  min-height: 314px;
}

.rewies__card {
  height: auto;
  flex: 0 0 33.333%;
  margin: 0 -20px;
  padding: 38px 33px 33px 33px;
  border-radius: 5px;
  background-color: #eef1f4;
}

.rewies__header {
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin-bottom: 25px;
  pointer-events: none;
}

.rewies__card-image {
  width: 88px;
  height: 88px;
  object-fit: contain;
}

.rewies__body {
}

.rewies__card-title {
  margin-bottom: 10px;
  font-weight: 700;
}

.rewies__card-subtitle {
  font-size: calc(var(--font-size) * 0.85);
  line-height: calc(var(--font-size) * 0.85 * var(--line-height-lato));
  color: var(--color-violet-50);
}

.rewies__text {
  font-size: calc(var(--font-size) * 0.85);
  line-height: calc(var(--font-size) * 0.85 * var(--line-height-lato));
}

.rewies__carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 63px;
  height: 15px;
}

.rewies__circle-left {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #d9d9d9;
  cursor: pointer;
}
.rewies__circle-center {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #6e5cfc;
  cursor: pointer;
}
.rewies__circle-right {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #d9d9d9;
  cursor: pointer;
}

/* ==================== Contacts ==================== */
.contacts {
  padding: 100px 0;
  background-color: #ccdef5;
}
.contacts__title {
}
.contacts__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.contacts__info {
  flex: 1 1 auto;
  font-weight: 500;
  max-width: 434px;
  /* overflow: hidden; */
}
.contacts__info-text {
  margin-bottom: 42px;
  font-size: calc(var(--font-size) * 1.25);
  line-height: calc(var(--font-size) * 1.25 * var(--line-height-lato));
}
.contacts__info-adress,
.contacts__info-email,
.contacts__info-tel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
}
.contacts__info-adress img,
.contacts__info-email img,
.contacts__info-tel img {
  width: 25px;
  height: 25px;
  object-fit: contain;
}
.contacts__info-adress {
  margin-bottom: 20px;
}
.contacts__info-email {
  margin-bottom: 22px;
}
.contacts__info-tel {
}
.contacts__info-title {
  margin-left: 26px;
}

.contacts__map {
  position: relative;
}
.contacts__map:after {
  content: "";
  position: absolute;
  bottom: 141px;
  left: 163px;
  z-index: 10;
  width: 28px;
  height: 37px;
  background-image: url(./../img/contacts/Location.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.contacts__map img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* ==================== Footer ==================== */
.footer {
  padding: 65px 0;
  overflow: hidden;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 15px;
  line-height: 38px;
}
.footer__logo {
  flex: 0 0 auto;
}
.colored-bold-text {
}
.footer__contacts-list {
  display: flex;
  column-gap: 22px;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;
}
.footer__contacts-item {
}
.footer__buttons {
  display: flex;
  column-gap: 20px;
  flex: 0 0 auto;
}
.footer__btn-1 {
  flex: 0 0 auto;
  padding: 14px 39px;
}
.footer__btn-2 {
  flex: 0 0 auto;
}

.footer__privacy-policy {
  flex: 0 0 auto;
  font-weight: 500;
  color: var(--color-white-100);
}

/* =============================== */
/* Дисплей none */
.none {
  display: none;
}

/* ==================== Адаптив ==================== */
@media (max-width: 1279px) {
  /* :root {
    --font-size: 18px;
  } */
}
@media (max-width: 1110px) {
  .nav__list {
    display: none;
  }
  .nav__list-active {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 30px;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 100;
    width: 100%;
    height: 100%;
    padding: 100px 0 0 77%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    /* filter: blur(1px); */
  }
  .nav__list-active:before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -2;
    min-width: 25%;
    height: 100%;
    padding: 100px 100px 0 20px;
    background: var(--color-main);
  }
  .nav__list-active:after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -2;
    min-width: 25%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
  }

  .nav__btn-toggle {
    display: block;
    z-index: 101;
  }
  .header__row {
    column-gap: 40px;
  }
  .header__blur,
  .header__stars {
    width: calc((100% - var(--container-width)) / 2 + 900px);
  }
}

@media (max-width: 1023px) {
  .header__blur,
  .header__stars {
    display: none;
  }
  .header__row {
    padding: 50px 0;
    flex-direction: column-reverse;
    row-gap: 30px;
  }
  .header__content {
    padding: 50px 0;
    min-height: auto;
  }
  .header__row::after {
    top: 0;
  }
}

@media (max-width: 767px) {
  .header__content {
    width: 100%;
  }
}

@media (max-width: 426px) {
  /* :root {
    --font-size: 16px;
  } */
  .nav__logo img {
    width: 30px;
    height: 30px;
  }
  .nav__logo a {
    font-size: calc(var(--font-size) * 0.9);
    line-height: 30px;
  }
  .header__top {
    padding: 17px 0 0 0;
  }
  .header__img img {
    width: 306px;
    height: 316px;
    object-fit: contain;
  }
  .header__row::after {
    content: "";
    position: absolute;
    z-index: -20;
    bottom: 0;
    right: calc(-248px - 80px);
    width: 715px;
    height: 721px;
  }
  .header__row {
    padding: 70px 0;
    flex-direction: column-reverse;
    row-gap: 42px;
  }
  .header__content {
    padding: 0;
  }
  .header__badge {
    margin-bottom: 10px;
    font-size: calc(var(--font-size) * 0.9);
    line-height: calc(var(--font-size) * 0.9 * var(--line-height-lato));
  }
  .header__btn-1 {
    display: none;
  }
  .header__btn-2 {
    width: 100%;
    font-size: calc(var(--font-size) * 0.6);
    line-height: calc(var(--font-size) * 0.6 * var(--line-height-lato));
  }
  .header__title {
    margin-bottom: 86px;
    font-size: calc(var(--font-size) * 1);
    line-height: calc(var(--font-size) * 1 * var(--line-height-ubuntu));
  }
  .nav__list-active {
    row-gap: 52px;
    padding: 100px 0 0 52%;
  }
  .nav__list-active:before {
    min-width: 50%;
  }
  .nav__list-active:after {
    min-width: 50%;
  }
}
